.menu-button {
	background-color: #759fd1;
	-moz-border-radius: 42px;
	-webkit-border-radius: 42px;
  width: 600px;
	border-radius: 42px;
	border: 1px solid #21bceb;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 17px;
	padding: 18px 76px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #00c0fa;
  margin-top: 20px;
}
.menu-button:hover {
	background-color:#519bf6;
}
.menu-button:active {
	position:relative;
	top:1px;
}

body {
  resize: none;
}

.item-button {
	background-color: #759fd1;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
  width: 300px;
	border-radius: 0px;
	border: 1px solid #21bceb;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 15px;
	padding: 5px 76px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #00c0fa;
  margin-top: 5px;
}
.item-button:hover {
	background-color:#519bf6;
}
.item-button:active {
	position:relative;
	top:1px;
}

.header {
    margin-top: 10px;
    border-radius: 2px;
    border:2px solid #8ba1bc;
    background-color: #759fd1;
}

.header .image {
  margin-left: 10px;
  background: url("./res/vk-logo-small.png")
              no-repeat;
  width: 80px;
  height: 80px;
  border:2px;
}

.header .text {
    font: x-large Verdana;
}

.header .image,
.header .text {
    display: inline-block;
    vertical-align: top;
}

.header .text {
  color: white;
  height: 80px;
}

.methods {
  width: 375px;
  margin: 0 auto;
}

.methods-queue {
  width: 550px;
  margin: 0 auto;
}

.methods-list {
  padding: 0;
  width: 100%;
}

.method-item-empty {
  display: flex;
  align-items: center;
  font-family: Verdana;
	font-size: 25px;
  width: 100%;
  padding: 5px;
}

.method-item {
  display: flex;
  align-items: center;
  font-family: Verdana;
	font-size: 20px;
  width: 100%;
  padding: 5px;
  border-bottom: 1px dotted grey;
}

.method-item-name {
  font-size: 20px;
  align: center;
  width: 375px;
  font-weight: bold;
}

.method-item-duration {
  font-size: 18px;
  align: center;
  color: grey;
  width: 375px;
}

.method-item-queue-name {
  font-size: 20px;
  align: center;
  width: 550px;
  font-weight: bold;
}

.method-item-duration-all {
  font-size: 18px;
  align: center;
  color: grey;
  width: 550px;
}


.action-button {
	background-color: #759fd1;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
  width: 90px;
	border-radius: 0px;
	border: 1px solid #21bceb;
	display: inline;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 15px;
	padding: 2px;
  white-space: nowrap;
  text-align: center;
  padding-left: 0px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #00c0fa;
  margin-top: 5px;
  margin-right: 5px;
}
.action-button:hover {
	background-color:#519bf6;
}

.action-button:active {
	position:relative;
	top:1px;
}
